table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid blue;
    padding: 5px;
    word-break: normal;
    text-align: center;
}

.lg-view{
    display: block;
}

.sm-view{
    display: none;
}

@media (max-width: 800px) {
    .lg-view{
        display: none;
    }

    .sm-view{
        display: block;
    }
}