table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--border-color);
    padding: 5px;
    word-break: normal;
    text-align: center;
}