.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field {
    font: inherit;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.input-field:focus{
    outline: none;
}

.input-tip {
    background-color: var(--input-tip-background-color);
    color: var(--input-tip-color);
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 5px;
}

.valid-input-field {
    border: 3px solid var(--input-valid-color);
}

.invalid-input-field {
    border: 3px solid var(--input-invalid-color);
}