.registration-form-container {
    margin: auto auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    width: 300px;
    border: 1px solid blue;
    box-shadow: 0 0 10px 10px blue;
}

@media(max-width: 400px){
    .registration-form-container {
        padding: 10px;
        width: 250px;
    }
}

.header-container {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    font: inherit;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.input-tip {
    background-color: rgb(40, 37, 37);
    color: white;
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 5px;
}

.button:disabled {
    opacity: 0.5;
}

a,
a:visited {
    color: inherit;
}