.header, .footer {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family: fantasy;
    font-size: 20px;
    box-shadow: 0 0 10px 10px var(--box-shadow-color);
}

.footer {
    justify-content: center;
    margin-bottom: 0;
    margin-top: 10px;
}

.content-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 17px;
}