.history-table-container{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.graph-form-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid blue;
    box-shadow: 0 0 10px 10px blue;
}

@media(max-width: 800px) {
    .graph-form-container {
        flex-direction: column;
    }
}