.history-table-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.menu-user-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-user-info-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 5px 5px var(--main-color);
    border-radius: 20px;
    background-color: var(--background-color);
}

.menu-logout-container{
    display: flex;
    justify-content: flex-start;
}

.menu-control-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
}

.dashboard-container {
    display: flex;
    position: relative;
}

.graph-form-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 10px 10px var(--main-color);
    background-color: var(--background-color);
    z-index: 10;
}

@media (max-width: 742px) {
    .graph-form-container {
        flex-direction: column;
    }
    .username {
        display: none;
    }
}