.wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.edit-profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.form-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    width: 300px;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 10px 10px var(--main-color);
    background-color: var(--background-color);
    margin-bottom: 10px;
}

@media (max-width: 742px) {
    .edit-profile-container{
        flex-direction: column-reverse;
    }
}

@media(max-width: 400px){
    .form-container {
        padding: 10px;
        width: 250px;
    }
}

.form-header-container {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}