.logout-button {
    font: inherit;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: hsl(240, 100%, 50%);
    color: hsl(208, 100%, 100%);
    transition: 0.5s ease;
    width: 100px;
    margin: 10px;
}

.logout-button:hover {
    background-color: hsl(240, 100%, 70%);
}

.logout-button:focus {
    border: 1px solid hsl(237, 90%, 90%);
}