.modal-window {
    margin: auto auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px 10px var(--box-shadow-color);
    background-color: var(--background-color);
}