.modal-window {
    margin: auto auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    width: 300px;
    border: 1px solid blue;
    box-shadow: 0 0 10px 10px blue;
    background-color: #020920;
}