* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: var(--background-color);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.button {
    font: inherit;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    transition: 0.5s ease;
}

.button:hover {
    background-color: var(--button-hover-background-color);
}

.button:focus {
    border: 1px solid  var(--button-border-color);
}

.button:disabled {
    opacity: 0.5;
}

a,
a:visited {
    color: inherit;
}