:root {
    --background-color: rgba(2, 9, 32, 0.7);
    --background-image: url('/public/theme1.jpg');
    --text-color: #ffffff;
    --main-color: #0000FFFF;
    --opacity-color: rgba(255, 255, 255, 0.2);

    --valid-color: #35fb1e;
    --invalid-color: #FF0000FF;
}

[data-theme="theme1"] {
    --background-image: url('/public/theme1.jpg');
    --main-color: #ff00ec;
}

[data-theme="theme2"] {
    --background-image: url('/public/theme2.jpg');
    --main-color: #0000FFFF;
}

[data-theme="theme3"] {
    --background-image: url('/public/theme3.jpg');
    --main-color: #ff5900;
}

[data-theme="theme4"] {
    --background-image: url('/public/theme4.jpg');
    --main-color: #ff0000;
}

[data-theme="theme5"] {
    --background-image: url('/public/theme5.jpg');
    --main-color: #a100ff;
}

[data-theme="theme6"] {
    --background-image: url('/public/theme6.jpg');
    --main-color: #1f610a;
}